#!/usr/bin/make -f
export DH_VERBOSE=1
export GO111MODULE=on
export GOTOOLCHAIN=local          
export GOFLAGS=-mod=vendor -buildvcs=false

export GOPATH=$(CURDIR)/.gopath
export GOMODCACHE=$(CURDIR)/.gopath/pkg/mod
export XDG_CACHE_HOME=$(CURDIR)/.cache
export GOCACHE=$(CURDIR)/.cache/go-build

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_build:
	go build -v -o build/kmet ./cmd/kmet

override_dh_auto_install:
	install -D -m0755 build/kmet debian/kmet/usr/bin/kmet

override_dh_auto_clean:
	rm -rf build .gopath .cache
	dh_auto_clean

